#clockContainer{
    position: relative;
    /* border: 2px solid red; */
    margin: auto;
    height: 40vw; /*--- vw : view Port ---*/
    width: 40vw;
    background: url(../Images/clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin : bottom;
}

#hour{  
    width: 2%;
    height: 28%;
    top: 22%;
    left: 48.8%;
    opacity: 0.8;
}

#minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}

#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.27%;
    opacity: 0.8;
}